.product-summary {
    margin: 10px;
    padding: 10px;
    background-color: #ED6B5A;
    height: 200px;
    width: 400px;
    display: flex;
}

.product-button {
    margin: 5px;
    height: 40px;
    width: 60px;
    justify-content: flex-end;
}